@font-face{
    font-family: headingFont;
    src: url('D:/VSCodeProjects/portfolio/src/image/milchella.ttf');
}

.portfolio{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: -20px;
}

.portfolioHeading{
    margin-left: 80px;
    color: #D4AF37;
    font-family: headingFont;
    font-size: 40px;
    font-weight: 700;
}

.topicHeading{
    font-size: 35px;
    font-family: subHeadingFont;
    font-weight: 600;
    text-align: left;
}

.education{
    justify-content: left;
    display: flex;
}

.education h1{
    color:#1a1c69;
    font-family: cursive;
}

.schools{
    border: 2px solid #D4AF37;
    height: auto;
    margin-right: 50px;
    width: 500px;   
}

.schoolname{
    font-size: 22px;
}

.timeline{
    margin-right: 50px;
}

.wrapper{
    width: 3px;
    margin-left: 9px;
    margin-top: 10px;
    height: 80%;
    background-color: white;
}

.wrapperCircle{
    background-color: #D4AF37;
    border-radius: 50%;
    box-shadow: 0 0 20px #D4AF37;
    height: 20px;
    width: 20px;
}

.time{
    margin-top: -16px;
    margin-left: 90px;
}

.experience{
    height: auto;
}

.experience, .positionAndTime{
    display: flex;
}

.experiences{
    justify-content: center;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

.companyInfo{
    color: #D3D3D3;
}

.experienceCard{
    margin-top: -20px;
    padding-left: 20px;
    width: 600px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.companyName{
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
}

.position{
    font-size: 20px;
    margin-top: -20px;
}

.experienceTech{
    color: #D4AF37;
    font-weight: bold;
    font-size: 16px;
}


.achievementCard img{
    height: 200px;
    width: 300px;
    margin-top: 20px;
}

.achievementCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.achievementCard div{
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform .2s;
    width: 350px;
    border: 2px solid #D4AF37;
}

.achievementCard div:hover{
    transform: scale(1.05);
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project{
    cursor: grab;
    transition: transform .2s;
    margin-bottom: 20px;
    height: auto;
    width: 400px;
    border-radius: 20px;
    justify-content: center;
    border: 2px solid #D4AF37;
    margin-top: 20px;
}

.project:hover{
    transform: scale(1.02);
}

.projectImg{
    height: 250px;
}

.headingGithub{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.links{
    height: 25px;
    margin-left: 20px;
    margin-top: 30px;
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    width: 25px;
}

.heading{
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;   
}

.desc{
    font-family:cursive;
    font-size: 17px;
    height: auto;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.tech{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.tech p{
    margin-right: 20px;
    color: #D4AF37;
}