.tabBar img{
    height: 70px;
    width: 70px;
}

.tabBar{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
}

.tabBar p{
    margin-left: 20px;
    font-size: 18px;
    color: white;
}

.tabBarButton{
    display: flex;
    width: 100%;
    cursor: pointer;
    justify-content: center;
}